@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* @media screen and ( max-width: 1440px ) {

} */

@keyframes rotate1 {
  from {
    top: 0;
  }
  90%{
    opacity: 1;
  }
  to {
    opacity: 0;
    top: -30px;
    transform: rotateX(90deg);
  }
}

@keyframes rotate2 {
  from {
    top: 0;
    transform: rotateX(100deg);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  to {
    top: -30px;
    transform: rotateX(0deg);
  }
}
/*
@keyframes rotate3 {
  from {
    top: 0;
    transform: rotateX(-180deg);
  }
  opacity
  to {
    top: -30px;
    transform: rotateX(270deg);
  }
} */



html,body { height: 100%; width: 100% }
body { font-family: 'Noto Sans KR', sans-serif; color: #666666; font-size: 1.2rem; font-weight: 500; overflow-x: hidden;}
ul, li { list-style: none; }
a { color: #fff; }
h1, h2, h3, h4, h5, h6 { line-height: 1; }


#go-to-top {
  position: relative;
  position: fixed;
  bottom: 24px;
  right: 24px;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid;
  border-color: gray;
  border-radius: 50%;
  transform: rotate(0);
  transition: .3s;
  overflow: hidden;
  z-index: 200;
}

#go-to-top a img {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center center;
}

#main-wrap {
  width: 100%;
  /* position: relative; */
}

#wrap {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.clip {
  /* overflow: hidden; */
  /* position: absolute; */
  width: 100%;
}

#header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
}

#logo {
  float: left;
}

#header .h-inner {
  margin: 0 auto;
  height: 50px;
  padding: 45px 25px 45px;
}

#header .gnb-wrap {
  width: auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

#header .gnb-wrap #gnb {
  position: relative;
  top: 8.45px;
  margin-right: 103px;
}

#header .gnb-wrap #gnb li {
  margin-left: 100px;
}

#header .gnb-wrap #gnb li:first-child {
  margin-left: 0;
}

#header .gnb-wrap #login-menu li {
  margin-left: 30px;
}

#header .gnb-wrap #login-menu li:first-child {
  margin-left: 0;
}


#header .gnb-wrap ul {
  overflow: hidden;
  float: left;
}

#header .gnb-wrap > ul > li {
  height: 50px;
  float: left;
}

#header .gnb-wrap > ul > li > a {
  line-height: 20px;
}



#rigth-gnb div {
  position: relative;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 30px;
}

#rigth-gnb .btn-gnb1 {
  border-style: none;
  background-color: #406eff;
  margin-right: 20px;
}

#rigth-gnb .btn-gnb2 {
  border: 1px solid #fff;
}

#mainbanner {
  position: relative;
  top: 50%;
  left: 10%;
  width: 600px;
  color: #fff;
  text-align: left;
  opacity: 1;
  transition: all .5s;
}

#mainbanner video {
  position: absolute;
}

#mainbanner > .inner > .text-area {
  position: absolute;
}

#mainbanner h1 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 30px;
}

#mainbanner > .inner > .text-area > .txt-lotate {
  font-size: 100px;
  font-weight: 700;
  transform-style: preserve-3d;
}

.txt-lotate {
  backface-visibility: hidden;
}

.txt-lotate .txt1 {
  position: absolute;
  top: 0;
  animation-name: rotate1;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform-origin: top;
}

.txt-lotate .txt2 {
  position: absolute;
  top: 0;
  animation-name: rotate2;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.txt-lotate .txt4 {
  position: absolute;
  top: 0;
  animation-name: rotate3;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transform-origin: top;
}

#container {
  display: inline-block;
  position: relative;
  height: 200px;
  width: 100%;
}


.first-section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 200px 0 0;
  text-align: center;
}

.first-section .inner {
  position: relative;
}

.first-section > .inner > .mainTxt {
  width: 980px;
  color: #0c254b;
  font-size: 48px;
  line-height: 68px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  transition: .5s ease;
  opacity: 0;
}

.opc {
  opacity: 1;
}


.first-section > .inner > p {
  width: 980px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  transition: .5s;
  position: relative;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  transition: .5s;
  transform: translateY(60px);
  overflow: visible;
}

.list-items {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  transition: .5s;
  opacity: 1;
  position: relative;
  transition: .5s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
}

.list-items .items {
  width: 440px;
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(78,78,78,.39);
  margin-left: 60px;
}

.list-items .items:first-child {
  margin-left: 0;
}

.list-items .items > div:first-child {
  background-repeat: no-repeat;
  background-position: center;
  padding: 48px 50px;
  margin: 0 140 0;
}

.items-img01 {
  background-image: url("../img/svg_reality_01.svg");
}

.items-img02 {
  background-image: url("../img/svg_reality_02.svg");
}

.items-img03 {
  background-image: url("../img/svg_reality_03.svg");
}

.mid-div > span {
  font-size: 56px;
  color: #1c4ab4;
}

.last-div {
  line-height: 1.5;
  margin-top: 30px;
}

.last-div > p {
  color: #546681;
}

.second-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 980px;
  margin: 80px auto;
  border-radius: 20px;
  background-color: #f8f8f8;
  opacity: 1;
  box-shadow: 5px 5px 5px rgba(78,78,78,.39);
  transition: .5s;
  transition-delay: .1s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  overflow: visible;
  transform: translateY(60px);
}

.second-div dl {
  padding: 33px 0;
  width: 33.3%;
  border-right: 1px solid #ced3db;
}

.second-div dl:last-child {
  border-right: 0;
}

.second-div dd {
  color: #1c4ab4;
}

.third-div {
  opacity: 1;
  transition: .5s;
  transition-delay: 0s;
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
  overflow: visible;
  transform: translateY(60px);
  margin-top: 80px;
}

.third-div a {
  display: inline-block;
  min-width: 280px;
  height: 70px;
  padding: 0 40px;
  border-radius: 60px;
  background-color: #406eff;
  box-sizing: border-box;
}

.third-div span {
  font-size: 22px;
  line-height: 70px;
}

.second-inner {
  margin: 0 auto;
  padding: 200px 0 0;
}

.second-inner-main {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.second-inner-main h2 {
  font-size: 48px;
  line-height: 68px;
  font-weight: 500;
  color: #0c254b;
}

.second-inner-main p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 28px;
}

.second-inner-sub {
  position: relative;
  margin: 100px;
}

.sub-area01 {
  position: relative;
  width: 680px;
  height: 720px;
  width: auto;
}

.img-area01 {
  position: absolute;
  border-radius: 200px;
  width: 680px;
  overflow: hidden;
  right: 30px;
}

.img-area01 > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sub-txt01 {
  width: 530px;
  max-height: 230px;
  left: 70px;
  top: 206px;
  flex: 100px;
  position: absolute;
}

.second-inner-sub dt {
  font-size: 28px;
  line-height: 1.4;
  color: #1c4ab4;
}

.second-inner-sub dd {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
}

.sub-txt-wrap01 dd:nth-child(2) a {
  margin-top: 60px;
  height: 22px;
}

.lightbluetxt {
  color: #406eff;
}

.sub-area02 {
  margin-top: 120px;
  width: 680px;
  height: 720px;
}

.img-area02 {
  position: absolute;
  width: 680px;
  height: 750px;
  right: 30px;
}

.img-area02 > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sub-txt02 {
  position: absolute;
  left: 40px;
  top: 0px;
  width: 520px;
  max-height: 230px;
  overflow: hidden;
}

.sub-txt-wrap02 dd:nth-child(2) a {
  margin-top: 60px;
  height: 22px;
}

.third-section {
  margin: 0 auto;
  padding: 200px 0 0;
}

.third-section-mt {
  margin: 0 auto;
  max-width: 960px;
  text-align: center;
}

.third-section-mt > h2 {
  font-size: 48px;
  line-height: 68px;
  color: #0c254b;
}

.third-section-mt > p {
  margin-top: 40px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

.slide-name {
  text-align: center;
  width: 100%;
  margin: 80px auto 60px;
}

.slide-name-wrap {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.btn{
  display: inline-block;
  width: 250px;
  margin: 0 35px;
  font-size: 25px;
  box-sizing: border-box;
}

.slide-img {
  display: flex;
  justify-content: center;
}

.forth-section {
  margin: 0 auto;
  padding: 200px 0 0;
  text-align: center;
}

.forth-section-wrap > h2 {
  font-size: 48px;
  line-height: 68px;
  color: #0c254b;
}

.five-section {
  padding: 200px 0;
  text-align: center;
}

.five-section h2 {
  margin: 0 auto;
  width: 980px;
  color: #0c254b;
  font-size: 48px;
  line-height: 68px;
}

.news-list {
  position: relative;
  margin-top: 100px;
  margin-left: 20px;
  padding: 0 50px;
  width: 980px;
  text-align: center;
}

.news-slide {
  position: relative;
  vertical-align: center;
  width: 1420px;
  padding: 10px 10px 20px;
  /* overflow: hidden; */
}

.slide-list {
  display: flex;
  width: 100%;
  height: 470px;
  padding-bottom: 10px;
}

.newsbtn {
  margin-top: 80px;
}

.newsbtn a {
  min-width: 280px;
  color: #fff;
  line-height: 3.5;
  height: 70px;
  padding: 0 40px;
  border-radius: 60px;
  display: inline-block;
  background-color: #406eff
}

.news {
  float: left;
  max-width: 300px;
  height: 470px;
  margin: 0 30px;
  box-shadow: 1px 5px 15px 0 rgba(12, 37, 75, 0.3);
  /* border: 1px solid #fff; */
  border-radius: 20px;
}

.new:last-child {
  margin-right: 0;
}

.news-chart {
  border-radius: 20px;
}

.news-img01 {
  width: 300px;
  height: 193px;
  background-image: url("../img/news01.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.new-chart .news-img img {
  width: 300px;
  height: 193px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-repeat: no-repeat;
}

.new-chart .info {
  padding: 40px;
  text-align: left;
}

.info .new-tag {
  color: #1c4ab4;
}

.info .new-name {
  margin-top: 30px;
  min-height: 110px;
  line-height: 1.8;
  font-weight: 500;
  color: #0c254b;
}

.info .new-date {
  margin-top: 20px;
  font-size: 16px;
  color: #0c254b;
}


.btn-box {
  position: absolute;
  width: 40px;
  height: 40px;
  /* overflow: hidden; */
  top: 200px;
  left: -38px;
  z-index: 100;
  border-style: none;
}

.btn-box img {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: none;
}

.btn-box .prev {
  background-image: url("https://alchera.ai/assets/front/images/common/svg/btn_swiper_prev.svg");
}

.btn-box .next {
  position: relative;
  right: -1430px;
  background-image: url("https://alchera.ai/assets/front/images/common/svg/btn_swiper_next.svg");
}

.short-container {
  padding: 110px 0 154px;
  height: 400px;
  border-bottom: 1px solid rgba(12, 37, 75, 0.2);
  background: #335fe8;
  color: #fff;
  text-align: center;
}

.short-inner {
  font-size: 36px;
  letter-spacing: 1px;
  text-align: center;
}

.short-inner img {
  margin-bottom: 30px;
}

.s-txt {
  margin-bottom: 60px;
}

.s-btn {
  padding: 10px 15px;
  background: white;
  color: black;
  width: 90px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  border-radius: 5px;
}

.s-btn a {
  display: flex;
  justify-content: center;
  align-items: middle;
}

.s-btn span {
  font-size: 20px;
  color: black;
}

#footer {
  position: relative;
  /* background: lightskyblue; */
}

#footer .f-inner {
  width: 100%;
  height: 210px;
  bottom: 0;
  padding: 50px 20px 0;
  margin: 30px auto;
  box-sizing: border-box;
  overflow: hidden;
}

.footer-top {
  float: left;
}

.f-logo {
  float: left;
}

.f-content {
  float: right;
  display: flex
}

.hide {
  transform: translateY(600px);
  opacity: 0;
}
